# Default Python gitignore
*.pyc
build/
out/
.ipynb_checkpoints/

# Recommended build directory.
/build/

# PyCharm configuration
.idea/

# Private files, not to be submitted to github
core.txt
groups.txt

